.skillCard {
    box-shadow: 0px 1px 4px black !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px !important;
    flex-basis: 100px;
    margin: 20px 10px 0px 10px;
}

.skillCard:hover {
    box-shadow: 0px 1px 10px black !important;
}

#dark .skillCard:hover {
    box-shadow: 0px 1px 10px black !important;
}