.first-grid {
    align-self: center;
    width: 106px;
}

.logo {
    display: flex;
    flex-direction: row;
}

.left-drawer .MuiDrawer-paper {
    background-color: #282c34;
    color: white;
}

.drawer-options .MuiListItemIcon-root {
    color: white;
}
.drawer-options .MuiListItemText-root .MuiListItemText-primary{
    font-family: "Signika Negative";
}

.theme-switch {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 850px) {
    .nav-options {
        display: flex;
        flex-direction: row;
    }

    .hamburger {
        display: none !important;
    }
}

@media screen and (max-width: 849.98px) {
    .nav-options, .logo {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .first-grid {
        display: flex;
    }
}