@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Signika+Negative');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Lilita+One');
@import url('https://fonts.googleapis.com/css?family=Mansalva');
@import url('https://fonts.googleapis.com/css?family=Young+Serif');

.App {
  text-align: center;
  font-family: "Young Serif";
}

#light.App{
  background-color: white !important;
  color: #282c34 !important;
}

#dark.App{
  background-color: #282c34 !important;
  color: white !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#light .header {
  background-color: white;
  color: #282c34;
}

#dark .header {
  background-color: #282c34;
  color: white;
}

.contactIcons {
  font-size: 10vh !important;
  background-color: transparent !important;
  transition: transform 0.2s, box-shadow 0.2s !important;
}

.contactIcons:active{
  transform: translateX(4px) translateY(4px) !important;
  box-shadow: 0 0 0 #1C5C9B !important;
}

#light .contactIcons {
  color: #282c34 !important;
}

#dark .contactIcons {
  color: white !important;
}

.contactMain {
  background-color: transparent !important;
  margin-top: 100px;
}

.font-young-serif {
  font-family: "Young Serif" !important;
}

.font-signika-negative {
  font-family: "Signika Negative" !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-dark {
  color: #282c34 !important;
}

#light .header-text {
  color: #282c34 !important;
}

#light .header-text .title {
  border-bottom: 2px solid white;
}

#dark .header-text .title {
  border-bottom: 2px solid #282c34;
}

#light .header-text .title:hover {
  color: crimson !important;
  border-bottom: 2px solid crimson !important;
}

#dark .header-text .title:hover {
  color: darkorange !important;
  border-bottom: 2px solid darkorange !important;
}

#dark .header-text {
  color: white !important;
}

.MuiSwitch-switchBase.Mui-checked {
  color: white !important;
}

.MuiSwitch-switchBase {
  color: #282c34 !important;
}

.MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background-color: white !important;
}

.align-self-center {
  align-self: center !important;
}